:root {
  --fg: #040316;
  --bg: #fbfbfe;
  --primary: #2f27ce;
  --secondary: #dddbff;
  --accent: #443dff;
  --light-gray: rgba(0, 0, 0, 0.1);
  --input-bg: rgb(248, 249, 255);
  --class-sesion-fg: rgb(91, 172, 116);
  --class-sesion-bg: rgb(222, 244, 230);
}

html {
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0
}

button {
  background-color: var(--primary);
  color: var(--bg);
  padding: 1rem;
  border-width: 0;
  border-radius: 1rem;
  transition: transform ease 0.3s, box-shadow ease 0.3s;
}

button:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--primary);
}

button.btn-important {
  font-weight: bold;
}

input {
  border-radius: 0.5rem;
  border-width: 0;
  background-color: rgb(248, 249, 255);
  padding: 0.3rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  display: flex;
  flex-direction: horizontal;
  align-items: end;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 1em 6% 0.9em 6%;
}

.header>h1 {
  margin: 0;
}

.h1-name {
  transition: background-color ease 0.2s;
}

.h1-name:hover {
  background-color: var(--secondary);
}

.h1-extra {
  font-size: 1rem;
  font-weight: normal;
  margin-left: 1em
}

.content {
  /* , "backgroundColor": "grey" */
  border-radius: 2rem;
  margin: 2em 6%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.warnings-container {
  background-color: rgb(219 51 53 / 20%);
  padding: 0.8rem;
  border-radius: 1rem;
  margin: 0;
}

.warning-li {
  font-size: 18px;
  color: rgb(219, 51, 53);
  list-style-position: inside;
}

.label-light-span {
  font-weight: lighter;
  font-size: 11pt;
}

select {
  background-color: var(--input-bg);
  border-radius: 0.5rem;
  border-width: 0;
  padding: 0.3rem;
}

.main-box-shadow {
  box-shadow: 6px 6px 10px 6px var(--secondary);
}

.lista-materias,
.vista-materia {
  /* background-color: var(--secondary); */
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: fit-content;
}

.vista-clase-container {
  background-color: var(--secondary);
  padding: 1em;
  border-radius: 0.5rem;
}

.lista-materias {
  /* max-width: 550px; */
  max-width: 35%;
  min-width: 20%;
}

.vista-materia {
  width: 100%;
}

.flex-col-gap-05,
.flex-col-gap-10 {
  display: flex;
  flex-direction: column;
}

.flex-col-gap-05 {
  gap: 0.5rem
}

.flex-col-gap-10 {
  gap: 1rem
}

.vista-clase {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.vista-sesion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* CALENDAR */
.calendar-container {
  border-radius: 2rem;
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.calendar-headers {
  display: flex;
}

/* HEADER BUFFER */
.calendar-headers>div:first-child {
  min-width: 5%;
}

.calendar-headers>div:last-child {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.calendar-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* TIME LABLES */
.time-labels-container {
  display: flex;
  flex-direction: column;
  min-width: 5%;
  text-align: center;
  margin: 0 0.5rem 0 0;
  position: relative;
}

.time-labels-container>div {
  position: relative;
  height: 1.5rem;
  top: -0.5rem;
}

.time-labels-container>div:last-child {
  position: absolute;
  top: calc(100% - 0.5rem);
  width: 100%
}


/* WEEK COLUMNS */
.week-column-container {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  background-color: white;
}

.week-column {
  flex-grow: 1;
  border-left: 1px solid black;
  position: relative;
}

/* CLASS SESION */
.class-sesion {
  position: absolute;
  width: 100%;
}

.class-sesion>div {
  border-radius: 0 1em 1em 0;
  background-color: var(--class-sesion-bg);
  color: var(--class-sesion-fg);
  display: flex;
  flex-direction: column;
  height: 98%;
  width: 95%;
  font-size: 0.8rem;

  box-sizing: border-box;
  border-left: 0.2rem solid var(--class-sesion-fg);
  padding: 5%;
}

.class-sesion>div>h3 {
  margin: 0;
  font-size: 0.8rem;
}

.class-sesion>div>div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}